/* Mobile & Tablet */
@media (max-width: 1024px) {

    .header {
        margin-top: 40px;
    }

    .header__navbar-menu {
        display: block;
    }

    .does-not-show {
        display: none;
    }

    .content__box1 {
        width: auto;
        gap: 100px;
    }

    .content__box1-right {
        width: 100%;
    }

    .content__box1-right {
        width: 100%;
        margin-left: unset;
    }

    .header__univercity {
        gap: 60px;
    }

    .header__univercity-text {
        min-width: 508px;
        text-align: center;
    }

    .content__box2-header {
        display: flex;
        flex-wrap: wrap;
    }

    .content-box3__right-list-image {
        margin-top: 0;
        display: flex;
        gap: 30px;
    }

    .content-box3__right-link {
        padding: 0;
    }

    .content__box4 {
        gap: 100px;
    }

    .content-box4__right-icon {
        display: none;
    }

    .content__box4-item {
        gap: 80px;
    }

    .content-box4__right-paragrap {
        padding-top: 0;
    }

    .content__box5-list {
        gap: 60px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media (max-width: 739px) {

    .header {
        margin-left: 0;
        margin-right: 0;
    }

    .content__box1 {
        margin-left: 0;
        margin-right: 0;
    }

    .content__box2 {
        margin-left: 0;
        margin-right: 0;
    }

    .content__box3 {
        margin-left: 0;
        margin-right: 0;
    }

    .content__box4 {
        margin-left: 0;
        margin-right: 0;
    }

    .content__box5 {
        margin-left: 0;
        margin-right: 0;
    }

    .footer__list {
        margin-left: 0;
        margin-right: 0;
    }

    .footer__sparate {
        margin-left: 0;
        margin-right: 0;
    }

    .footer__copyright {
        margin-left: 0;
        margin-right: 0;
    }
} 
